.maincon1 {

    background: linear-gradient(to bottom, #ffcc00, rgba(238, 255, 0, 0.587));
}

.matter {
    padding: 30px;
}
.column img{
    width: fit-content;
    height: fit-content
}
.formtag input {
    height: 55px;
}

.divclass img {
    width: 45px;
    height: 45px;
}